<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.user.wordsfromword">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".WordsFromWordApplication"
        android:allowBackup="true"
        android:icon="@mipmap/new_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name"/>
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/account_kit_client_token"/>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".StartActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".SignInActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".LeaderboardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ShareActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".VersusActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".VersusResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".VersusBattleEndedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".BattleShareActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".BattlesListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"/>

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".AddressBookActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".StartSignInActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".AddNumberActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"/>

        <activity android:name=".ConfigureSettingsActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:screenOrientation="landscape"/>
    </application>
</manifest>